<head>
 <%= stylesheet_link_tag "article", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="main">
        <div class="encabezado">
            <h3 class="title">Inscripción Congreso 
            <br> Ruby on Rails 2023</h3>
            <p> La ciudad anfitriona de esta edición será Alicante. ¡Bienvenidos a la Ciudad de la Luz! </p>
        </div>
       
        <div class="form-div">
            <%= form_with do |form| %>
                <div class="nombre-apellido">
                   <div class="form-nombre">
                     <%= form.label :nombre, "Nombres" %>
                    <%= form.text_field :nombre %>     
                   </div>

                  <div class="form-apellido">
                    <%= form.label :apellido, "Apellidos" %>
                    <%= form.text_field :apellido %>  
                  </div>      
                </div>

                <div class="fecha">
                    <div class="form-fecha">
                        <%= form.label :fecha, "Fecha de nacimiento" %>
                        <%= form.date_field :fecha %>
                    </div>
                    <div class="form-lugar">
                        <%= form.label :lugar, "Lugar de nacimiento" %>
                        <%= form.text_field :lugar%>
                    </div>                    
                </div>

                <div class="correo">
                    <div class="form-correo">
                        <%= form.label :correo, "Correo" %>
                        <%= form.text_field :correo %>   
                    </div>
                    <div class="form-movil">
                        <%= form.label :movil, "Móvil" %>
                        <%= form.phone_field :Móvil %>
                    </div>     
                </div>
                
                <div class="ciudades">
                    <div class="form-pais">
                        <%= form.label :pais, "País" %>
                        <%= form.text_field :pais %>    
                    </div> 

                    <div class="form-provincia">
                        <%= form.label :ciudad, "Provincia" %>
                        <%= form.text_field :aciudad%>  
                    </div>
                </div>

                <div class="empresa">
                    <%= form.label :empresa, "¿Vienes por trabajo?" %>
                    <%= form.radio_button :si, "Si" %>
                    <%= form.label :si, "Si" %>
                    <%= form.radio_button :no, "No" %>
                    <%= form.label :no, "No" %>
                </div>

                <div class="check">
                    <%= form.check_box :condiciones%>
                    <%= form.label :condiciones, "Acepto los Términos y Condiciones" %>
                </div>

               <div class="btn-div">
                 <%# <%= button_tag '¡Quiero apuntarme!',  type:'button', class: 'form-btn' %>  
                 <%= link_to "Quiero apuntarme", "/exitoso" %>
               </div>
            <% end %> 
        </div>

        <div class="sponsor">
            <p>Sponsor Oficial:</p>
            <%= image_tag("leading.jpeg", class: "img-sponsor") %>
        </div>

    </div>

    <footer>
        <p>Developed by Mayra Barros - Prueba técnica LeadingDev, Ruby on Rails.</p>
      
    </footer>

</body>



